.container {
    max-width: 1120px;
    margin: 0 auto;
}
.nextPage {
    margin-top: 2rem;
    a {
        color: var(--text-pink);
        text-decoration: none;
        line-height: 2.5rem;
        &:hover {
            text-decoration: underline;
        }
    }
}

.content {
    margin-bottom: 10rem;
    h1 {
        font-weight: 700;
        line-height: 2rem;
        font-size: 1, 5rem;
    }
    p {
        line-height: 2.5rem;
        font-size: 1rem;
    }

    span {
        line-height: 2.5rem;
        margin-right: 2rem;
        font-weight: lighter;
        img {
            margin-right: 0.5rem;
        }
    }
}
