:root {
  --background-color: #282C34;
  --head-color: #F8F8F8;
  --body-color: #D7D7D7;
  --info-color: #BBBBBB;
  --highlight-color: #FF57B2;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: var(--background-color);
  color: var(--text);
}

  body, input, textarea, select, button{
    font: 400 1rem 'Inter', sans-serif;
}

@media(max-width: 1080px){
  html{
      font-size: 93.75%;
  }
}
@media(max-width: 720PX){
  html{
      font-size: 87.5%;
      text-align: center;
  }
}

